/* .css 파일 == <style> 태그 내부 */

strong{
  color : steelblue;
  font-size: 18px;
  text-decoration: underline;
  font-family: '맑은고딕';
}

code{
  background-color: #F5E7B2;
  display: block; /* 요소의 형식을 block 형식(행 분할)으로 변경 */
  font-weight: bold;
  font-size: 14px;
}

/* 기본 속성 선택자 1 - 속성명 */
[name]{ background-color: rgb(190, 246, 173);}

/* 기복 속성 선택자 2 - 속성명=속성값 */
[name=bbb]{ font-size: 20px; }
[name="bbb"]{ text-decoration: underline;}


/* 자식 선택자 ( A > B ) */

/* class 속성 값이 "parent-1"인 요소의 자식 중 
   li태그를 모두 선택 */
.parent-1 > li{
  font-size: 24px;
}

/* class 속성 값이 "parent-1"인 요소의 자식 중 
   class 속성 값이 "child-1"인 모든 요소 선택 */
.parent-1 > .child-1{
  background-color: yellow;
}

/* 자식 선택자를 여러 번 작성하는 경우 */
.parent-1 > li > span{
  background-color: red;
}



/* 후손 선택자 (A B) */

/* class가 parent-2인 요소 하위 모든 p태그 선택 */
.parent-2 p{ background-color: lightcoral; }


/* class가 parent-2인 요소 하위 모두 선택 */
.parent-2 *{
  font-family:  '궁서체';
}



/* 반응 선택자 */

.test-btn{
  width: 300px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer; /* 마우스 포인터 모양을 손가락으로 변경 */
  background-color: white;
  color : deeppink;
  border : 2px solid deeppink; /* 테두리 스타일 지정 */
}

/* :hover 반응 선택자 */
.test-btn:hover{
  background-color: deeppink;
  color: white;
}

/* :active 반응 선택자 */
.test-btn:active{
  transform: scale(0.9); /* 크기를 90%로 변환 */
}


/* :focus 상태 선택자 */
.input-1:focus{
  background-color: lightgreen;
}

/* :checked 상태 선택자 */

/* input 요소 중 name이 radioGroup 이면서 체크된 요소만 선택 */
input[name="radioGroup"] {
  width: 30px;
  height: 30px;
}
input[name="radioGroup"]:checked {
  width: 30px;
  height: 30px;
  background-color: red;
  color: red;
  /* 체크 시 보여지는 표시는 이미지 -> 색상 적용 X */
  /* 최근에 변경 CSS 추가됨!!! */
}

/* 체크된 체크박스만 선택 */
input[name=checkGroup] {
  width: 30px;
  height: 30px;
}
input[name=checkGroup]:checked{
  width: 30px;
  height: 30px;
  background-color: red;
  color: red;
}

/* :enabled / :disabled 상태 선택자 */
.input-3:enabled{ background-color: yellowgreen; }

.input-3:disabled{ background-color: salmon;}

/* 동위 선택자 */

/* A + B : A 바로 뒤에 B 형제 요소 1개 선택 */
#div1 + div { /* id가 "div1"인 요소 바로 뒤에 오는 */
  background-color: #af47d2;

}
#div4 + p {
  background-color: #ccc;
}
#div3 ~ div {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
#div1 ~ div {
  color: green;
}

/* radio 버튼 꾸미기 */
input[name=radioDeco] {
  /* 브라우저 기본 스타일을 제거 */
  appearance: none; 
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  /* 마우스 손가락 모양 */
  cursor: pointer;
}

input[name=radioDeco]:checked {
  background-color: orange;
  border-color: orange;
}

/* checkbox 버튼 꾸미기 */
input[name="checkDeco"] {
  appearance: none; 
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

input[name="checkDeco"]:checked {
  background-color: green;
  border-color: green;
  position: relative;
}

/* 	체크 모양 기호 U+2713 */
input[name=checkDeco]:checked::before {
  content: "\2713";
  position: absolute;
  left: 50%;
  top: 39%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}

/* 이미지를 이용해서 checkbox 꾸미기 */

.check-test {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
}
.check-test > input[type="checkbox"] {
  display: none;
}

.check-test > input[type="checkbox"]:checked + div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../images/checkbox.png); 
}