/* :only-child */

/* #test1 요소의 유일한 자식이 p태그인 경우 선택 */
#test1 > p:only-child {
  background-color: orange;
}

/* :only-of-type */
#test2 > p:only-of-type {
  background-color: pink;
}
#test2 > pre:only-of-type {
  background-color: yellow;
}

/* empty */

/* #test3 아무것도 작성되지 않은 경우 */
#test3:empty {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
}

/* 여러 선택자 동시 작성(,구분) */
#test4a, .test4b, [name=test4c] {
  font-size: 24px;
  font-family: '돋움';
  text-decoration: underline;
}

/* 여러 클래스가 작성된 요소 선택하기 */
.test5 {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 20px;
}
.test5.aaa  {
  background-color: skyblue;
}
.bbb {
  font-size: 30px;
}
.test5.aaa.bbb {
  color: #fff;
  font-weight: 600;
}

/* 다른 태그, 같은 클래스 요소 구분하기 */
.test7 {
  width: 100px;
  height: 50px;
  border: 3px solid #616161;
  margin-bottom: 5px;
}
div.test7 {
  background-color: red;
}
section.test7 {
  background-color: blue;
  color: #fff;
}