@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
* {
    /* content 크기를 자동 조정하는 특징 
        -> 개발자 의도대로 요소 크기를 쉽게 지정 가능
    */
    box-sizing: border-box;
    /* html 요소는 기본적으로 설정된 padding, margin이 있는 요소가 존재 
       -> 개발자 의도대로 요소 배치가 안되는 문제가 생길 수 있다.
       -> 0으로 초기화
    */
    padding: 0;
    margin: 0;
    font-family: "TheJamsil5Bold";
    line-height: 1.3;
}
div {
    border: 1px solid #000;
}
.container-1 {
    width: 304px;
    height: 304px;
    border-color: red;
    margin: 30px;
    border-radius: 50%;
    position: relative;
}
.container-1 > div:first-child {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: skyblue;
}

.container-1 > div:nth-of-type(2) {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

.container-1 > div:nth-of-type(3) {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
}

/* z-index 확인 */
.container-2 {
    width: 300px;
    height: 300px;
    position: relative;
}
.container-2 > div:nth-child(1) {
    background-color: red;
    width: 50%; /* 감싸는 요소의 width 50% */
    height: 50%;
    position: absolute;

    z-index: 10;
}
.container-2 > div:nth-child(2) {
    background-color: orange;
    width: 60%; /* 감싸는 요소의 width 50% */
    height: 60%;
    position: absolute;

    z-index: 7;
    right: 0;
}
.container-2 > div:nth-child(3) {
    background-color: yellow;
    width: 70%; /* 감싸는 요소의 width 50% */
    height: 70%;
    position: absolute;
    z-index: 4;
    right: 0;
    bottom: 0;
}
.container-2 > div:nth-child(4) {
    background-color: green;
    width: 80%; /* 감싸는 요소의 width 50% */
    height: 80%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;
}
 
html {
    scroll-behavior: smooth;
}

.top-btn-container {
    border: 3px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;   
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 50;
    background-color: #fff;
}
.top-btn {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 700;
    line-height: 46px;
}

.sticky {
    background-color: purple;
    color: #fff;
    font-weight: 700;
    padding: 100px 20px 30px;
    position: sticky;
    top: -70px;
    z-index: 100;
}